#cv-form{
    background-color: rgb(8, 239, 255);
    /*display: none;*/
     
 }
 #cv-template {
    display: none;
 }
 
 .myimg{
     
     border-radius: 50% ;
     width: 200px;
 }
 .backgound{
     background-color: aqua;
     font-style:italic;
 }